<div class="container flex items-center justify-between py-10">
<div class="text-primary flex items-center gap-0.5 font-semibold">
<app-logo-icon></app-logo-icon>
<p>RENTCARS</p>
</div>
<ul class="flex items-center gap-10 font-medium text-medium-dark-gray">
  <li class="cursor-pointer">Become a renter</li>
  <li class="cursor-pointer">Rental deals</li>
  <li class="cursor-pointer">How it work</li>
  <li class="cursor-pointer">Why choose us</li>
</ul>
<div class="flex items-center gap-4 ">
    <button class="text-medium-dark-gray">Sign in</button>

  <app-button content="Sign up" />
</div>
</div>
