<div id="header" class="container flex flex-col  gap-4 lg:gap-0 lg:flex-row items-center justify-between !pe-0 my-5">
<div class="text-dark-gray lg:w-[30%]">
  <p class="font-semibold lg:text-5xl">Find, book and  rent a car <span class="text-primary relative hidden lg:block">Easily <app-underline-icon class="absolute top-full start-0"/></span> </p>
  <p class="lg:text-lg my-3 lg:my-10">Get a car wherever and whenever you need it with your IOS and Android device.</p>
  <div class="flex items-center gap-4 ">
    <img src="assets/images/header/google-play-image.png" alt="gogle play image"/>
    <img src="assets/images/header/app-store-image.png" alt="apple store image"/>
  </div>
</div>
<img src="assets/images/header/main-header-image.png" alt="home-main-image"/>
</div>
