<span class="text-[#959595] text-xl font-medium cursor-pointer ps-5 my-3" routerLink="/home">Home/</span><span class="text-primary">
  {{car.model}} Details</span>
<div class="flex gap-9 items-center relative h-full ">

  <picture >
    <img src="/assets/images/cars/Audi 1.png" class="w-full h-auto object-contain" [alt]="car.make" />
</picture>
<div class="w-[35%]">
  <div class="mb-20">
  <app-text-box content="WHY CHOOSE US"/>
  <h2 class="text-4xl font-medium">We offer the best experience with our rental deals</h2>
  <p class="my-1 text-sm ">model: <span class="text-primary">{{car.model}}</span></p>
  <p class="my-1 text-sm ">Price: <span class="text-primary">{{car.price |currency: 'USD'}}</span></p>
  </div>
<ul *ngFor="let feature of car.features" class=" text-light-gray ">
<li>{{feature}}</li>
</ul>
</div>
    <div class="absolute bottom-0 start-0 ">
      <app-layer-2-icon />
    </div>
</div>